<%= simple_form_for(project) do |form| %>
    <%= form.input :title %>
    <%= form.input :description, as: :text %>
    <%= form.input :launch_date, input_html:{class:"datepicker"}%>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Completed</th>
          <th>Description</th>
          <th>
            <div class="form-actions">
              <%= link_to  'javascript:void(0)',class:"green darken-2 btn add_record",data:{ 
                            id:@nested_id, 
                            "nested-html":nested_content(:tasks,form,@nested_id).html_safe
                           } do %>
                <i class='fa fa-plus'></i>
              <% end -%>
            </div>
          </th>
        </tr>
      </thead>
      <tbody id='tasks'>
        <%= form.simple_fields_for :tasks do |builder| %>
          <%= render 'task', f: builder %>
        <% end %>
      </tbody>
  </table>
  
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="right">
    <%= form.submit class:"btn waves-effect waves-light"%>
  </div>
<% end %>
