<%= simple_form_for(project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.input :title %>
    <%= form.input :description, as: :text %>
    <%= form.input :launch_date, input_html:{class:"datepicker"}%>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Completed</th>
          <th>Description</th>
          <th>
            <div class="form-actions">
              <%= link_to_add_row("<i class='fa fa-plus'></i>".html_safe, form, :tasks, class: 'green darken-2 btn') %>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class='fields'>
        <%= form.simple_fields_for :tasks do |builder| %>
          <%= render 'task', f: builder %>
        <% end %>
      </tbody>
  </table>
  
  <div class="divider"></div>
  <div class="divider"></div>
  <div class="divider"></div>
  <%= form.submit class:"btn waves-effect waves-light"%>
<% end %>
